:root {
    --primary-color: #1ABC9C;
    --secondary-color: #2C3E50;
    --tertiary-color: #3A546D;  
}

html {
    font-family: 'Roboto', sans-serif;
}

/* ************************************************ COLORS */

.custom_1bgc {
    background-color: var(--secondary-color);
}

.custom_2bgc {
    background-color: var(--primary-color);
}

.custom_3bgc {
    background-color: var(--tertiary-color);
}


/* ************************************************* HEIGHTS */

.debug .custom_1height {
    height: 400px;
}

.debug .img-debug {
    min-height: 200px;
    width: 100%;
}

div.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    width: 100%;
}

.avatar {
    width: 100%;
    height: 150px;
}

.custom_border {
    border: 1px solid #ced4da;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 100%;
}

form label {
    padding-top: 5px;
}

.custom_circle {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    padding-top: 5px;
}