:root {
    --primary-color: #1ABC9C;
    --secondary-color: #2C3E50;
    --tertiary-color: #3A546D;  
}

html {
    font-family: 'Roboto', sans-serif;
}

/* ************************************************ COLORS */

.mine_1bgc {
    background-color: var(--secondary-color);
}

.mine_2bgc {
    background-color: var(--primary-color);
}

.mine_3bgc {
    background-color: var(--tertiary-color);
}


/* ************************************************* HEIGHTS */

.debug .mine_1height {
    height: 400px;
}

.debug .img-debug {
    background-color: #BA4B63;
    min-height: 200px;
    width: 100%;
}